//@lost flexbox no-flex;
@lost flexbox flex;
@lost gutter 30px;


.grid
  //lost-utility: clearfix
  lost-center: 980px


.col
  color: #373737
  lost-column: 1/3
  background-color: #dcff9b



.test
  display block
  width 980px
  height 40px
  background-color #767676
  margin auto